@charset "UTF-8";

@font-face{ 
	font-family: 'Museo';
	src: url('WebFont.eot');
	src: url('WebFont.eot?#iefix') format('embedded-opentype'),
	     url('WebFont.woff') format('woff'),
	     url('WebFont.ttf') format('truetype'),
	     url('WebFont.svg#webfont') format('svg');
}

/*Infos générales*/
body, html{
	padding : 0;
	background-color: #ecf0f1;
}

ul{
	padding:0;
	margin: 0;
}

p, span, a{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	text-decoration: none;
	font-weight: 300; 
	word-wrap: break-word;  
}

.inner_article p::first-letter {
	font-family: 'Open Sans', sans-serif;
	font-size:48px;
	padding-right:10px;
	float:left;
}

.inner_article p{
	text-align: justify;
}

.legende{
	font-size: 10px;
}

footer a:hover{
	text-decoration: none;
	border-bottom: 1px solid rgb(200,200,200);
}

header{
	clear:both;
	overflow: hidden;
}

.header_up img{
	width:200px;
	margin: auto;
}

.header_slide img{
	width:150px;
	margin-top: 10px;
}

.header_up{
	padding:15px 10px;
	clear: both;
	overflow: hidden;
	background-color: #fff;
}

.header_slide{
	padding-top: 5px;
	padding-bottom: 5px;
	box-shadow: 0px 5px 0px rgba(0,0,0,0.1);
}

.menu{
	padding-left: 20px;
	padding-top: 7px;
}

.menu img{
	width:40px;
	cursor: pointer;
}

.header_up .menu {
	display: none;
}

.menu_slide{
	position: fixed;
	top:72px;
	width:300px;
	background-color: rgb(240,240,240);
	z-index:11;
	text-align: center;
	box-shadow: 0px 5px 0px rgba(0,0,0,0.1);
}

.menu_slide .btn_menu{
	width:100%;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.header_down{
	background-color: rgb(250,250,250);
	clear: both;
	overflow: hidden;
	text-align: center;
	/*border-bottom: 5px solid rgba(220,220,220,0.3);*/
	padding: 0px 0px;
	box-shadow: inset 0px 3px 0px rgba(150,150,150,0.1);
}

.header_down .inner{
	max-width:600px;
	margin: auto;
}

.header_slide{
	position: fixed;
	clear: both;
	overflow: hidden;
	top:0;
	background-color: #fff;
	width: 100%;
	z-index: 10;
}

header .col, .header_slide .col{
	width:33.3%;
	box-sizing:border-box;
	float: left;
}

.btn_loupe{
	background-image: url(../images/btn_recherche_white.png);
	background-size: cover;
	width:42px;
	height: 42px;
	text-align: right;
}

.btn_loupe:hover{
	background-image: url(../images/btn_recherche.png);
}

.form-control_jan{
	padding: 10px 15px;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;
	/*border-bottom: 2px solid rgb(200,200,200);*/
	background-color:rgba(255,255,255,0.0);
}

.form-control_jan:focus{
	/*border-bottom: 2px solid rgb(150,150,150);*/
}

.btn_menu{
	float: left;
	color: #000;
	cursor: pointer;
	transition:0.2s;
	width: 33.3%;
}

.btn_menu div{
	/*background-color: rgb(240,240,240);*/
	float: left;
	padding: 10px 20px;
	color: #000;
	cursor: pointer;
	transition:0.2s;
	width: 100%;
	box-sizing:border-box;
	border-left: 1px solid rgb(200,200,200);
	border-right: 1px solid rgb(200,200,200);
}

.btn_menu div:hover{
	/*border-bottom: 2px solid rgb(150,150,150);*/
	background-color: rgb(230,230,230);
}

.networks{
	padding-left: 30px;
	padding-bottom: 10px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
}

.logo {
	margin: auto;
	text-align: center;
}

#searchbar, #searchbar_slide{
	float:right;
	padding-right: 20px;
	padding-top: 5px;
}

#searchbar div, #searchbar_slide div {
	float: left;
}

.searchbar_inner{
	border-bottom: 2px solid rgb(200,200,200);
}

.searchbar_inner:focus{
	border-bottom: 2px solid rgb(150,150,150);
}

.searchbutton_inner {
	display: none;
}

.circle{
	border-radius: 50%;
	/*background-color: rgba(200,200,200,0.0);*/
	width: 40px;
	height: 40px;
	margin-right: 10px;
	margin-top: 15px;
	float: left;
	cursor: pointer;
	transition: 0.2s;
	background-size: 100% 100%;
}

.circle:hover{
	box-shadow: 0px 5px 0px rgba(0,0,0,0.05);
	background-size: 104% 104%;
	background-position: -1px;
}

.titre_accueil{
	font-family: 'Open Sans', sans-serif;
	font-size: 60px;
	line-height: 60px;
}

.btn_article{
	background-color: rgba(50,50,50,0.6);
	width: auto;
	color:#fff;
	padding:10px;
}

.btn_article span{
	font-size: 20px;
}

.sous-titre_accueil{
	font-size: 28px;
}

.fond_inner{
	padding: 30px;
}

#first_part, #second_part, #third_part, #social_div .inner {
	display: flex;
	flex-direction: row;
	max-width:1920px;
	margin: auto;
}

#first_part a, #second_part a, #third_part a{
	color:#333;
}

.row_full {
	flex: 1;
	display: flex;
	flex-direction: row;
}

.row_full * {
	flex: 1;
}

#first_part .col_third{
	background-color: #f00;
}

#first_part .col_two_third{
	background-color: #d00;
}

#first_part .col_two_third .row_full:first-child{
	background-color: #dd0;
}

#second_part .col_two_third .row_full:first-child{
	background-color: #dda;
}

#third_part .col_two_third .row_full:first-child{
	background-color: #dce;
}

#first_part .col_two_third .row_full:first-child .col_half:first-child{
	background-color: #dac;
}

#first_part .col_two_third .row_full:first-child .col_half:nth-child(2){
	background-color: #dbd;
}

#first_part .col_two_third .row_full:nth-child(2){
	background-color: #de0;
}

#second_part .col_third{
	background-color: #fd0;
}

#second_part .col_two_third{
	background-color: #fc1;
}

#third_part .col_third{
	background-color: #0cf;
}

#third_part .col_two_third{
	background-color: #0bf;
}

.col_third, .col_two_third{
	height:800px;
}

.col_third{
	flex: 1;
	box-sizing:border-box;
	/*float: left;*/
	/*width: 33.3%;*/
}

.col_two_third{
	flex: 2;
	display: flex;
	flex-direction: column;
	box-sizing:border-box;
	/*float: left;*/
	/*width: 66.6%;*/
}

#box_1, #box_2, #box_3, #box_4, #box_5, #box_6, #box_7, #box_8, #box_9, #box_10, #box_11, #box_12{
	background-size: 100%;
	background-repeat: repeat-y;
	transition:0.2s;
}

#box_1:hover, #box_2:hover, #box_3:hover, #box_4:hover, #box_5:hover, #box_6:hover, #box_7:hover, #box_8:hover, #box_9:hover, #box_10:hover, #box_11:hover, #box_12:hover{
	background-size: 104%;
}

.fond{
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.4);
	transition:0.2s;
}

.fond:hover{
	opacity: 0;
}

.inner{
	max-width: 1920px;
	margin: auto;
}

#instagram, #pinterest, #twitter{
	/*width: 33.3%;*/
	/*float: left;*/
	flex: 1;
	height:400px;
	text-align: center;
	padding: 20px;
}

#social_div{
	background-color: rgb(250,250,250);
	width: 100%;
	clear: both;
	overflow: hidden;
}

#social_div .inner{
	max-width: 1920px;
	margin: auto;
}

#instagram{
	background-color: rgb(245,245,245)
}

#pinterest{
	background-color: rgb(225,225,225)
}

#twitter{
	background-color: rgb(235,235,235)
}

.sous-titre{
	font-size: 30px;
}

.main_article{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:30px;
	text-align: center;
}

.main_article_img{
	background-image: url(../images/2.jpg);
	background-size: 100%;
	padding:100px 100px 200px 100px;
	margin-bottom: 10px;
	transition: 0.2s;
}

.content_inner{
	background-color: #fff;
	clear: both;
	overflow: hidden;
	padding: 10px;
	text-align: center;
}

.autres_articles{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}

.titre{
	font-size: 48px;
	color:#444;
}

.main_article_img:hover, .article_thumb_img:hover{
	background-size: 104%;
}

.article_thumb{
	width:45%;
	padding: 20px;
	box-sizing:border-box;
}

.article_thumb_img{
	background-image: url(../images/3.jpg);
	background-size: 100%;
	padding:100px 100px 200px 100px;
	margin-bottom: 10px;
	transition: 0.2s;
}



.title_main_article{
	background-color: #fff;
	padding:10px;
	margin-top: -50px;
	max-width: 640px;
	margin-left:auto;
	margin-right:auto; 
	z-index:3;
}

.title_thumb_article{
	background-color: #fff;
	padding:10px;
	margin-top: -50px;
	max-width: 350px;
	margin-left:auto;
	margin-right:auto; 
	text-align: center;
}

.content_inner{
	max-width: 1024px;
	margin: auto;
}

.header_article{
	padding:100px 100px 200px 100px;
}

.header_article, .header_other{
	width: 100%;
	margin: auto;
	text-align: center;
	background-size: cover;
	background-attachment: fixed;
	color:#fff;
	text-shadow: 0px 2px 5px rgba(0,0,0,0.3);
}

.header_other{
	background-color: #ccc;
	padding:50px 100px 150px 100px;
}

.inner_article{
	padding:50px;
	max-width: 980px;
	background-color: rgb(250,250,250);
	margin-left: auto;
	margin-right: auto;
	margin-top: -100px;
	margin-bottom:100px;
}

.inner_article p {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.inner_article img {
	width: 100%;
	text-align: center;
}


.titre_rubrique{
	background-color: rgb(240,240,240);
	text-align: center;
	padding: 15px 0px;
}

.titre_rubrique .titre{ 
	color: #444;
	font-size:32px;
}

.ligne{
	height:1px;
	width:100%;
	background-color: rgb(210,210,210);
}

.inner_article img{
	padding:10px;
}

.titre_article{
	font-size: 60px;
	/*text-align: 60px;*/
	text-align: center;
}

.redac_article{
	font-size: 28px;
}

.chapeau{
	font-size: 20px;
}

fieldset{
	background-color: rgba(200,200,200,0.1);
	border: 0px;
}

fieldset input{
	width:100%;
	margin: 10px 0px;
	padding: 10px;
	border: 0px;
}

fieldset .envoi:hover{
	background-color: rgba(200,200,200,0.1);
}

fieldset textarea{
	width: 100%;
	margin: 10px 0px;
	padding: 10px;
	height: 200px;
	resize : none;
}

footer{
	background-color: rgb(50,50,50);
	padding:20px;
	clear:both;
	overflow: hidden;
}

footer .inner {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: baseline;
}

footer input{
	color:#fff;
	border-bottom: 2px solid rgba(255,255,255,0.3);
}

footer button:hover{
	background-color: #888;
}

footer button{
	margin-top: 5px; 
	padding: 13px 18px;
	background-color: #555;
	border:0;
	color:#aaa;
}

footer .ligne{
	background-color:#444;
}

.footer_col{
	/*width: 33.3%;*/
	float: left;
	padding: 20px;
	flex : 1;
}

.copyright{
	background-color: rgb(30,30,30);
	padding: 10px;
	color: rgb(200,200,200);
	text-align: center;
}

footer img{
	width:200px;
	opacity: 0.5;
}

footer span{
	color: rgb(200,200,200);
}

footer{
	text-align: center;
}

/*.footer_col:nth-child(1), .footer_col:nth-child(2){
	border-right: 1px solid rgba(200,200,200, 0.2);
}*/

.footer_col:nth-child(2){
	border-left: 1px solid rgba(200,200,200, 0.2);
	border-right: 1px solid rgba(200,200,200, 0.2);
}

.footer_col:nth-child(3){
	align-self: center;
}


/*@media all and (min-width: 1400px) {
	body {
		width: 1400px;
	}
}*/

@media only screen and (max-width: 1280px) {
	.titre_accueil{
		font-family: 'Open Sans', sans-serif;
		font-size: 48px;
		line-height: 48px;
	}
	.col_third, .col_two_third{
		height:700px;
	}
}

@media only screen and (max-width: 1024px) {
	.titre_accueil{
		font-family: 'Open Sans', sans-serif;
		font-size: 36px;
		line-height: 36px;
	}
	.col_third, .col_two_third{
		height:600px;
	}
}

@media only screen and (max-width: 960px) {

	.titre_article{
		font-size: 48px;
	}


	.header_up .logo img{
		width:150px;
	}

	.header_down {
		display: none;
	}

	.header_up .networks {
		display: none;
	}

	.header_up .menu {
		display: block;
	}

	.searchbutton_inner {
		display: block;
	}

	.searchbar_inner {
		display: none;
	}
	.inner_article p {
		flex-direction: column;
		align-items: center;
	}

	.inner_article p img {
		width: 40%;
	}

	#first_part, #second_part, #third_part{
		flex-direction: column;
		width: 80%;
	}

	#social_div {
		display: none;
	}

	.col_third {
		height: 33%;
	}

	.col_two_third {
		height: 66%;
	}
}

@media only screen and (max-width: 860px) {

	.header_other{
		background-color: #ccc;
		padding:25px 500px 120px 500px;
	}

	.header_article{
		padding:50px 50px 150px 50px;
	}

	.titre_article{
		font-size: 30px;
	}

	.redac_article{
		font-size: 18px;
	}

	.main_article_img{
		background-size: cover;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}

	.article_thumb_img{
		background-size: cover;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}

	footer .inner {
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	.footer_col:nth-child(2){
		border-left: none;
		border-right: none;
		order : 0;
	}

	.footer_col:nth-child(1){
		border-top: 1px solid rgba(200,200,200, 0.2);
		border-bottom: 1px solid rgba(200,200,200, 0.2);
		order: 1;
	}

	.footer_col:nth-child(3){
		order: 2;
	}

	.autres_articles {
		flex-direction: column;
		align-items: center;
	}

	.article_thumb {
		width: 80%;
	}

	.row_full {
		flex-direction: column;
	}

}

@media only screen and (max-width: 640px) {

	.header_other{
		background-color: #ccc;
		padding:25px 500px 100px 500px;
	}

	.header_article{
		padding:50px 50px 150px 50px;
	}

	.titre_article{
		font-size: 24px;
	}

	.redac_article{
		font-size: 12px;
	}

	.header_up .logo img{
		width:150px;
	}

	/*.col_third{
		width: 100%;
	}*/

	/*.col_third, .col_two_third{
		height:500px;
	}*/

	/*#instagram, #pinterest, #twitter{
		width: 100%;
	}*/
}