<footer>
    <div class="inner">
        <div class="footer_col">
            <span class="sous-titre">Autres liens</span><br/><br/>
            <ul>
                <li>
                    <a href="mentions.php"><span>Mentions légales</span></a>
                </li>
                <li>
                    <a href="partenariats.php"><span>Partenariats</span></a>
                </li>
                <li>
                    <a href="equipe.php"><span>L'équipe</span></a>
                </li>
                <li>
                    <a href="contact.php"><span>Contact</span></a>
                </li>
            </ul>
        </div>
        <div class="footer_col">
            <span class="sous-titre">Suivez-nous sur</span><br/>

            <div class="col networks">
                <div class="circle" style="background-image:url(images/btn_facebook.png);"></div>
                <div class="circle" style="background-image:url(images/btn_twitter.png);"></div>
                <div class="circle" style="background-image:url(images/btn_pinterest.png);"></div>
                <div class="circle" style="background-image:url(images/btn_gplus.png);"></div>
                <div>
                    <div class="circle" style="background-image:url(images/btn_insta.png);"></div>
                    <div class="circle" style="background-image:url(images/btn_newsletter.png);"></div>
                </div>

            </div>
            <div style="margin-top: 10px; margin-left: auto; margin-right: auto;"><span class="sous-titre" style="font-size:18px;">Inscrivez-vous à notre newsletter</span><br/></div>
            <input class="form-control_jan"  type="search" placeholder="Adresse e-mail">
            <button>S'inscrire</button>
        </div>
        <div class="footer_col">
            <img src="images/logo_janela.png"><br/><br/>
            <div class="ligne"></div><br/>
            <span>18 bis rue du vieux chemin de Paris</span><br/>
            <span>95290 L'Isle-Adam</span><br/>
            <span>06.23.06.50.29</span><br/>
            <b><span>contact@janela.fr</span><br/></b>
        </div>
    </div>
</footer>