<header>
    <div class="header_up">
        <div class="inner">
            <div class="col networks">
                <div class="circle" style="background-image:url(images/btn_facebook.png);"></div>
                <div class="circle" style="background-image:url(images/btn_twitter.png);"></div>
                <div class="circle" style="background-image:url(images/btn_newsletter.png);"></div>
            </div>

            <div class="col menu">
                <img src="images/btn_menu.png">
            </div>

            <div  class="col logo"><a href="index.php"><img src="images/logo_janela.png"></a></div>

            <div id="searchbar">
                <div class="searchbutton_inner">
                    <div class="btn_loupe"></div>
                </div>

                <div class="searchbar_inner">
                    <div><input class="form-control_jan"  type="search" placeholder="Rechercher"></div>
                    <div class="btn_loupe"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="header_down">
        <div class="inner">
            <a href="architecture.php"><div class="btn_menu"><div><span>Architecture</span></div></div></a>
            <a href="design.php"><div class="btn_menu"><div><span>Design/Décoration</span></div></div></a>
            <a href="artisanat.php"><div class="btn_menu"><div><span>Artisanat</span></div></div></a>
        </div>
    </div>
</header>
