<div class="header_slide">
    <div class="inner">
        <div class="col menu" id="btn_menu_slide">
            <img src="images/btn_menu.png">
        </div>

        <div class="col logo"><a href="index.php"><img src="images/logo_janela.png"></a></div>

        <div id="searchbar_slide">
            <div class="searchbutton_inner">
                <div class="btn_loupe"></div>
            </div>

            <div class="searchbar_inner">
                <div><input class="form-control_jan"  type="search" placeholder="Rechercher"></div>
                <div class="btn_loupe"></div>
            </div>
        </div>
    </div>
</div>
