<div class="menu_slide">
    <a href="architecture.php"><div class="btn_menu"><div><span>Architecture</span></div></div></a>
    <a href="design.php"><div class="btn_menu"><div><span>Design</span></div></div></a>
    <a href="artisanat.php"><div class="btn_menu"><div><span>Artisanat</span></div></div></a>
</div>